*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background-color: #474348;
  font-family: 'Source Sans Pro', sans-serif;
  height: 100%;
}

/* div {
  width: 100%;
  height: 5%;
} */

header {
  width: 100%;
  height: 15%;
  color: #2b2b2b;
}

h1 {
  font-size: 48px;
  color: #f6f0f0;
  margin: 3% 3%;
}

h3 {
  font-size: 2em;
  color: #474348;
  margin: 3% 3%;
  display: block;
  width: 22%;
  float: left;
  text-transform: uppercase;
}

p {
  color: #f6f0f0;
}

section {
  height: 85%;
}

.stackable1 {
  margin-bottom: 0;
}

.stackable2 {
  margin-top: 0;
}

.rightside {
  float: right;
  text-align: right;
  display: inline-block;
}

.labelbar {
  width: 100%;
  height: 80px;
  background-color: #f29f00;
  margin: 0 0 0.1% 0;
}

.bus {
  background-color: #2e2e2e;
  color: #f6f0f0;
  width: 100%;
  height: 20%;
  margin: 0 0 0.1% 0;
}

.bus-number-box {
  background-color: #828282;
  height: 100%;
  width: 20%;
}

/* iOS status bar image */
img.image1 {
  width: 100%;
  height: 10%;
  padding: 1%;
}

/* back arrow icon */
img.image2 {
  width: 30px;
  height: 48px;
  margin: 0 2%;
}

/* bus vector */
img.image3 {
  width: 65px;
  height: 60px;
  margin: 1% 3%;
  float: left;
}

.bus-number {
  /* white-space: inherit; */
}
