*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background-color: white;
}

body {
  background-color: #474348;
  font-family: 'Source Sans Pro', sans-serif;
  height: 667px;
  margin: 0 auto;
  width: 375px;
}

header {
  color: #2b2b2b;
  height: 116px;
  width: 100%;
}

h1 {
  color: #f6f0f0;
  font-size: 28px;
  margin: 15px 0 14px 16px;
}

h3 {
  color: #474348;
  font-size: 14px;
  text-transform: uppercase;
}

p {
  color: #f6f0f0;
  font-weight: lighter;
}

ul {
  height: 85%;
  max-height: 85%;
  overflow: scroll;
}

/* Within the header */
.image { /* Status bar icon */
  height: 20px;
}

img.image2 {  /* back arrow icon */
  height: 20px;
  margin: 17px 0 0 8px;
  width: 12px;
}

/* Orange label bar */
.labelbar {
  background-color: #f29f00;
  display: flex;
  height: 39px;
  width: 100%;
}

img.image3 {  /* bus vector */
  height: 23px;
  margin: 9px 50px 9px 16px;
  width: 23px;
}

.dd-label {
  margin-top: 5px;
}

.frequency-label {
  margin-left: auto;
  padding: 5px 16px 0 0;
}

/* Full Bus element */
.bus {
  background-color: #2e2e2e;
  border-bottom: 0.5px solid #474348;
  color: #f6f0f0;
  display: flex;
  flex-wrap: wrap;
  height: 75px;
  width: 100%;
}

/* Div making up the grey number box */
.bus-number-box {
  background-color: #828282;
  height: 99%;
  width: 78px;
}

.bus-number {
  align-items: center;
  font-size: 28px;
  font-weight: bold;
  padding: 37px 0 7px 16px;
}

/* Divs containing bus direction and destination */
.info {
  display: flex;
  flex: 2;
  flex-direction: column;
  justify-content: center;
  padding: 18px 0 10px 11px;
}

.direction {
  margin-bottom: 10px;
  max-height: 14px;
  order: 0;
}

.destination {
  color: #f29f00;
  font-size: 16px;
  font-weight: bold;
}

/* Divs containing frequency and bus times */
.time {
  display: flex;
  flex: 1;
  flex-direction: column;
  order: 2;
  padding: 5px 16px 5px 0;
  text-align: right;
}

.am-pm {
  font-size: 24px;
  margin-top: 2px;
}

.every {
  color: #8c8c8c;
  font-size: 12px;
  margin-top: 2px;
}

/* .next-bus {
  color: #8c8c8c;
  font-size: 12px;
  margin-top: 2px;
} */

.next-bus-time {
  font-size: 28px;
  margin: 7px 0;
}

/* Styling for rerouted bus */
.na {
  font-size: 28px;
  padding-top: 30px;
}

/* Stlying for out of service buses */
.oos-time {
  display: flex;
  flex: 1;
  flex-direction: column;
  order: 2;
  padding: 10px 16px 5px 0;
  text-align: right;
}

.ofs {
  color: #ff4747;
  font-size: 16px;
  font-weight: bold;
}

.resumes {
  color: #8c8c8c;
  font-size: 12px;
  margin-top: 10px;
}

.resumetime {
  font-size: 28px;
  margin: 2px 0;
}

.image1 { /* Alert icon */
  height: 15px;
  margin-top: 43px;
  margin-right: 5px;
  width: 15px;
}

.alert {
  align-items: flex-end;
  display: flex;
  flex: 1;
  flex-direction: column;
  order: 1;
}
